body {
    /* background: linear-gradient(90deg, rgba(9,107,170,1) 0%, rgba(16,43,73,1) 100%); */
    background-color: #005288;
}


.matchings h1 {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 30px;
    color: #fff;
}

.header-demanda {
    display: flex;
    justify-content: space-between;
}

.titulo-descricao {
    display: flex;
    justify-content: space-between;
    height: 70px;
    align-items: center;
}

.titulo-descricao a {
    background-color: black;
    border-radius: 10px;
    margin-bottom: 5px;
    margin-top: 5px;
    padding: 5px;
}

.titulo-descricao a img {
    height: 50px;
    width: 50px;
    border-radius: 7px;
    background-color: black;
    border: solid 2px grey;
    padding: 3px;
    transition: all 0.3s ease;
}

.titulo-descricao a img:hover {
    transform: scale(1.2);
    cursor: pointer;
}

.container-info-demanda {
    width: 100%;
    height: 300px;
    background-color: #002e61;
    border-radius: 10px;
    color: white;
    padding: 10px;
    box-shadow: -1px 1px 4px 4px #FFF;
}

.container-info-demanda hr{
    width: 100%;    
}

.dados-detalhados-demanda {
    display: flex;
    flex-wrap: wrap;
}

.dados-detalhados-demanda div{
    max-width: 50%;
    min-width: 300px;
}

.dados-detalhados-demanda h5 {
  flex: 0 0 100%; /* Cada h5 ocupará 100% da largura até atingir a largura máxima permitida */
  margin: 5px 0; /* Adiciona um espaçamento entre cada h5 */
  box-sizing: border-box; /* Garante que a largura inclui a margem e o preenchimento */
}

@media (min-width: 600px) {
  .dados-detalhados-demanda h5 {
    flex: 0 0 calc(50% - 10px); /* Em telas maiores, cada h5 ocupará 50% da largura */
  }
}

#icones_status {
    width: 35px;
    height: 35px;
}

#icones_demanda {
    width: 35px;
    height: 35px;
    border-radius: 7px;
    background-color: black;
    border: solid 2px grey;
    padding: 3px;
    cursor: pointer;
    transition: all 0.3s ease;
}

#icones_demanda:hover {
    transform: scale(1.2);
    cursor: pointer;
}

.table-rounded {
    border-radius: 10px;
    overflow: hidden;
    box-shadow: -1px 1px 4px 4px black;
}

.table-personalizacao {
    margin-top: 10px;
    text-align: center;
}

.table-personalizacao thead, tbody {
    border-radius: 50px;
}

.table-personalizacao thead th{
    background-color: #146482;
    color: #fff;
    margin-top: 10px;
}

.table-personalizacao tbody td, th{
    border-bottom: solid 1px rgb(116, 116, 116);
    margin-bottom: 30px;
}

.table th:nth-child(1) {
    width: 50px; /* Largura desejada da célula do título */
}

.table th:nth-child(2) {
    width: 500px; /* Largura desejada da célula do título */
}

.table th:nth-child(3) {
    width: 200px; /* Largura desejada da célula do título */
}

.table th:nth-child(4) {
    width: 170px; /* Largura desejada da célula do título */
}

.table th:nth-child(6) {
    width: 170px; /* Largura desejada da célula do título */
}

.table th:nth-child(7) {
    width: 10px; /* Largura desejada da célula do título */
}

.table th:nth-child(8) {
    width: 10px;
}

