body {
    background-color: #005288;
}

.sobre-nos h1 {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 30px;
    color: #FFF;
}

.sessao {
    background-color: #002e61;
    padding: 20px;
    border-radius: 20px;
    color: #FFF;
}

.sessao h4 {
    font-weight: bold;
}

.sessao p {
    padding-top: 10px;
    text-align: justify;
}