body {
    background-color: #3b6c67;
}

.configuracoes h1 {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 30px;
    color: #FFF;
}

.configuracoes a{
    display: block;
    text-align: center;
}

.configuracoes button {
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 20px;
    background-color: #104655;
    border: none;
    color: #FFF;
    box-shadow: -1px 1px 4px 4px #FFF;
    font-weight: bold;
    width: 250px;
    transition: all 0.3s ease;
}

.configuracoes button:hover {
    transform: scale(1.1);
    cursor: pointer;
}