* {
    font-family: "Manrope", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 15px;
}

body {
    background-color: #3b6c67;
}

.sobre-nos h1 {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 30px;
    color: #FFF;
    font-size: 30px;
}

.sessao {
    background-color: #104655;
    border-radius: 10px;
    padding: 20px;
    text-align: justify;
}

.sessao h4 {
    font-weight: bold;
    color: #FFF;
    font-size: 20px;
}

.sessao p {
    color: #FFF;
    font-size: 15px;
}