body {
    background-color: #4d579c;
}

.titulo {
    display: flex;
    background-color: #1c2c52;
    width: 500px;
    margin: auto;
    align-items: center;
    height: 70px;
    border-radius: 10px;
    align-content: center;
    box-shadow: -1px 1px 4px 4px #FFF;
}

.titulo h1 {
    justify-content: center;
    align-items: center;
    margin: auto;
    color: #fff;
}

.botao-voltar {
    display: flex;
    align-items: start;
    background-color: black;
    width: 40px;
    border-radius: 5px;
    transition: all 0.3s ease;
}

.botao-voltar:hover{
    transform: scale(1.2);
}

.botao-voltar img {
    width: 40px;
}

.section-form {
    background-color: #FFF;
    margin-top: 60px;
    margin-bottom: 60px;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    background-color: #1c2c52;
}

.editar-ofertas {
    text-align: center;
}

.editar-ofertas .button_send {
    display: flex;
    margin: 20px auto 0px;
}

.button_send button {
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
    background-color: #4d579c;
    box-shadow: -1px 1px 4px 4px black;
    border: none;
    color: #FFF;
    font-weight: bold;
    width: 250px;
    height: 50px;
    transition: all 0.3s ease;
}

.button_send button:hover {
    transform: scale(1.1);
}

/* INPUT MALUCO */

.editar-ofertas {
    align-items: center;
    justify-content: center;
    height: 100vh;
    
}
  
.editar-ofertas .caixa-input{
    position: relative;
    width:100%;
    height: 50px;
    margin-bottom: 3px;
}
  
.editar-ofertas input {
    color: #FFF;
    font-size: 17px;
    width: 100%;
    height: 50px;
    padding: 20px 10px 10px 5px;
    background-color: #4d579c;
    border: none;
    border-radius: 5px;
    outline: none;
}
  
.editar-ofertas label {
    color: #fff;
    position: absolute;
    left: 0;
    width: 100%;
    height: 50px;
    pointer-events: none;
    border-bottom: 1px solid #ffffff;
    font-weight: bold;
}
  
.editar-ofertas span {
    position: absolute;
    left: 5px;
    font-size: 14px;
    transition: all 0.3s ease;
    border-radius: 10px;
}
  
.editar-ofertas label::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 100%;
    border-bottom: 1px solid #FFF;
    transition: all 0.3s ease;
}
  
.editar-ofertas input:read-only + label span, input:valid + label span {
    height: 40px;
    font-size: 14px;
    bottom: 10px;
    color: #FFF;
}

.editar-ofertas input:focus + label span, input:invalid + label span {
    height: 40px;
    font-size: 14px;
    bottom: 10px;
    color: #FFF;
}
  
.editar-ofertas input:focus + label::after {
    border-bottom: 3px solid #FFF;
}

/* TextArea */
.editar-ofertas textarea {
    color: #FFF;
    font-size: 17px;
    width: 100%;
    height: 50px;
    padding: 20px 10px 10px 5px;
    background-color: #4d579c;
    border: none;
    border-radius: 5px;
    outline: none;
    line-height: 1;
    overflow-y: scroll;
    height: 120px;
    resize: none;
}

#campo-label {
    height: 120px;
}
  
.editar-ofertas textarea:focus + label span,
textarea:valid + label span {
    height: 110px;
    font-size: 14px;
    bottom: 10px;
    color: #FFF;
}

.editar-ofertas textarea:focus + label span,
textarea:invalid + label span {
    height: 110px;
    font-size: 14px;
    bottom: 10px;
    color: #FFF;
}

.editar-ofertas textarea:focus + label::after {
    border-bottom: 3px solid #FFF;
}

/* Select */
.editar-ofertas select {
    color: #FFF;
    font-size: 17px;
    width: 100%;
    height: 50px;
    padding: 20px 10px 10px 5px;
    background-color: #4d579c;
    border: none;
    border-radius: 5px;
    outline: none;
}

.editar-ofertas select:focus + label span,
select:valid + label span {
    height: 40px;
    font-size: 14px;
    bottom: 10px;
    color: #FFF;
}

.editar-ofertas select:focus + label span,
select:invalid + label span {
    height: 40px;
    font-size: 14px;
    bottom: 10px;
    color: #FFF;
}

.editar-ofertas select:focus + label::after {
    border-bottom: 3px solid #FFF;
}

/* Remover setinha campo number */

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield; /* Firefox */
}

/* ESTILIZAÇÃO SELECTPICKER -------------------------------------------------------------------- */
.dropdown .bootstrap-select {
    justify-content: center;
}


.publicoAlvo .bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) {
    width: 100%;
    border: none;
    justify-content: center;
    display: flex;
    height: 50px;
}

.areaConhecimento .bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) {
    width: 100%;
    border: none;
    justify-content: center;
    display: flex;
    height: 50px;
}

.bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) button{
    width: 607px;
    border: none;
    color: #FFF;
    background-color: #4d579c;
    margin-top: 38px 0px;
}

.bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) button:hover{
    width: 607px;
    border: none;
    color: #FFF;
    background-color: #4d579c;
}

.bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) button:focus{
    border: none;
}

.bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) button:active{
    border: none;
}

.bootstrap-select .dropdown-toggle .filter-option-inner {
    width: 100%;
}

.bootstrap-select .dropdown-toggle .filter-option-inner {
    width: 100%;
}

.bootstrap-select .dropdown-menu {
    min-width: 100%;
    max-width: 100%;
    min-height: 100%;
    max-height: 100%;
    overflow-y: auto;
}

.bootstrap-select .dropdown-toggle .filter-option {
    position: absolute;
    top: 13px;
    left: -4px;
    padding-top: inherit;
    padding-right: inherit;
    padding-bottom: inherit;
    padding-left: inherit;
    height: 100%;
    width: 100%;
    text-align: left;
    display: flex;
    font-size: 17px;
}

.dropdown-menu {
    --bs-dropdown-link-active-bg: #1c2c52;
}

.bootstrap-select {
    width: 100%;
}

.dropdown-menu .dropdown-item:hover {
    padding: 0.5rem;
    background-color: #4d579c;
    color: #fff; 
}
.btn.show {
    background-color: #1c2c52;
    border-color: black;
    width: 100%;
}

.bs-searchbox .form-control {
    border-color: #1c2c52;
    
}

.form-control:focus {
    color: black;
    background-color: var(--bs-body-bg);
    border-color: #1c2c52;
    outline: 0;
    box-shadow: 0 0 0 .25rem #1c2c52;
}

.selectpicker button{
    height: 20px;
}

.inner .show {
    max-height: 150px;
}

.dropdown-menu .inner .show  a{
    height: 40px;
    padding-top: 10px;
    padding-left: 10px;
}

.dropdown-menu .inner .show a:hover{
    height: 40px;
    padding-top: 10px;
    padding-left: 0px;
}

.dropdown-menu .inner .show a:focus{
    height: 40px;
    padding-top: 10px;
    padding-left: 10px;
}

.dropdown-menu .inner .show a:active{
    height: 40px;
    padding-top: 10px;
    padding-left: 10px;
}

.bs-searchbox input {
    height: 35px;
    padding: 3px;
    font-size: 15px;
}

.bs-searchbox input:active {
    background-color: #FFF;
}