body {
    /* background: linear-gradient(90deg, rgba(9,107,170,1) 0%, rgba(16,43,73,1) 100%); */
    background: linear-gradient(90deg, rgba(9,107,170,1) 0%, rgba(44,39,88,1) 50%, rgba(40,35,69,1) 100%);
}

.titulo {
    display: flex;
    /* background: linear-gradient(90deg, rgba(9,107,170,1) 0%, rgba(44,39,88,1) 50%, rgba(40,35,69,1) 100%); */
    /* background: linear-gradient(360deg, rgba(9,107,170,1) 0%, rgba(44,39,88,1) 50%, rgba(40,35,69,1) 100%); */
    background-color: rgba(44,39,88,1);
    width: 550px;
    margin: auto;
    align-items: center;
    height: 70px;
    border-radius: 10px;
    align-content: center;
    box-shadow: -1px 1px 4px 4px #37769a;
}

.titulo h1 {
    justify-content: center;
    align-items: center;
    margin: auto;
    color: #fff;
}

.botao-voltar {
    display: flex;
    align-items: start;
    background-color: black;
    width: 40px;
    border-radius: 5px;
    transition: all 0.3s ease;
}

.botao-voltar:hover{
    transform: scale(1.2);
}

.botao-voltar img {
    width: 40px;
}

.section-form {
    background-color: #FFF;
    margin-top: 60px;
    margin-bottom: 60px;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    background-color: rgba(44,39,88,1);
}

.editar-ofertas {
    text-align: center;
}

.editar-ofertas .button_send {
    display: flex;
    margin: 20px auto 0px;
}

.editar-ofertas button {
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
    background-color: #376985;
    box-shadow: -1px 1px 4px 4px black;
    border: none;
    color: #FFF;
    font-weight: bold;
    width: 250px;
    height: 50px;
    transition: all 0.3s ease;
}

.editar-ofertas button:hover {
    transform: scale(1.1);
}

/* INPUT MALUCO */

.editar-ofertas {
    align-items: center;
    justify-content: center;
    height: 100vh;
    
}
  
.editar-ofertas .caixa-input{
    position: relative;
    width:100%;
    height: 50px;
    margin-bottom: 3px;
}

/* AutoComplete */
.autoComplete_wrapper {
    width: 100%;
    background-color: #212121;
}

.autoComplete_wrapper input{
    padding-left: 0;
}


.caixa-input .autoComplete_wrapper ul {
    position: absolute;
    max-height: 120px;
    overflow-y: scroll;
    top: 100%;
    left: 0;
    right: 0;
    padding: 0;
    margin: 0 0 0 0;
    border-radius: 4px;
    background-color: #4d6d7f;
    z-index: 1000;
    outline: 0;
    border: none;
}

.autoComplete_wrapper #autoCompleteAreaConhecimento
{
    height: 50px;
    width: 100%;
    color: #FFF;
    font-size: 20px
}

.caixa-input #autoComplete_list li {
    border: solid 1px #212121;
    background-color: #47565a;
    color: #FFF;
    padding-top: 5px;
}

.caixa-input li {
    list-style-type: none;
}

/* Fim */
  
.editar-ofertas input {
    color: #FFF;
    font-size: 20px;
    width: 100%;
    height: 50px;
    padding: 24px 10px 10px 5px;
    background-color: #4d6d7f;
    border: none;
    border-radius: 5px;
    outline: none;
}
  
.editar-ofertas label {
    color: #fff;
    position: absolute;
    left: 0;
    width: 100%;
    height: 50px;
    pointer-events: none;
    border-bottom: 1px solid #ffffff;
}
  
.editar-ofertas span {
    position: absolute;
    left: 5px;
    font-size: 14px;
    transition: all 0.3s ease;
    border-radius: 10px;
}
  
.editar-ofertas label::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 100%;
    border-bottom: 1px solid #FFF;
    transition: all 0.3s ease;
}
  
.editar-ofertas input:read-only + label span, input:valid + label span {
    height: 40px;
    font-size: 14px;
    bottom: 10px;
    color: #FFF;
}

.editar-ofertas input:focus + label span, input:invalid + label span {
    height: 40px;
    font-size: 14px;
    bottom: 10px;
    color: #FFF;
}
  
.editar-ofertas input:focus + label::after {
    border-bottom: 3px solid #FFF;
}

/* TextArea */
.editar-ofertas textarea {
    color: #FFF;
    font-size: 20px;
    width: 100%;
    height: 50px;
    padding: 20px 10px 10px 5px;
    background-color: #4d6d7f;
    border: none;
    border-radius: 5px;
    outline: none;
    line-height: 1;
    overflow-y: scroll;
    height: 120px;
    resize: none;
}

#campo-label {
    height: 120px;
}
  
.editar-ofertas textarea:focus + label span,
textarea:valid + label span {
    height: 110px;
    font-size: 14px;
    bottom: 10px;
    color: #FFF;
}

.editar-ofertas textarea:focus + label span,
textarea:invalid + label span {
    height: 110px;
    font-size: 14px;
    bottom: 10px;
    color: #FFF;
}

.editar-ofertas textarea:focus + label::after {
    border-bottom: 3px solid #FFF;
}

/* Select */
.editar-ofertas select {
    color: #FFF;
    font-size: 20px;
    width: 100%;
    height: 50px;
    padding: 20px 10px 10px 5px;
    background-color: #4d6d7f;
    border: none;
    border-radius: 5px;
    outline: none;
}

.editar-ofertas select:focus + label span,
select:valid + label span {
    height: 40px;
    font-size: 14px;
    bottom: 10px;
    color: #FFF;
}

.editar-ofertas select:focus + label span,
select:invalid + label span {
    height: 40px;
    font-size: 14px;
    bottom: 10px;
    color: #FFF;
}

.editar-ofertas select:focus + label::after {
    border-bottom: 3px solid #FFF;
}

/* Remover setinha campo number */

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield; /* Firefox */
}