* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #708090;
    font-family: "Manrope", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

header {
    background-color: #212529;
}

.navbar-brand a:hover {
    color: #708090;
    cursor: pointer;
}

.navbar-brand {
    color: #FFF;
}

.navbar-brand a{
    color: #FFF;
    text-decoration: none;
}

h1 {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 40px;
}

.login-container {
    padding: 40px 20px 10px 20px;
    background-color: #2F4F4F;
    margin: auto;
    margin-top: 20px;
    width: 40%;
    height: 60%;
    border-radius: 20px;
    font-size: larger;
    color: #FFF;
}

.login-container input, label {
    display: flex;
    width: 100%;
    border-radius: 10px;
    padding: 5px;
}

.login-container input::placeholder {
    padding: 5px; 
}

.login-container span, a{
    display: flex;
    text-align: center;
    justify-content: center;
    padding-top: 5px;
}

.login-container button {
    display: flex;
    padding: 5px;
    text-align: center;
    justify-content: center;
    border-radius: 10px;
    width: 150px;
    margin: auto;
    font-size: x-large;
}

.fade-out {
    opacity: 0;
    transition: opacity 0.5s ease-out;
    box-shadow: black 10px;
}

.msg-erro {
    margin-top: 3px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(90deg, rgba(201,39,12,1) 0%, rgba(255,199,0,1) 100%);
    border-radius: 10px;
    padding: 3px;
}

.msg-erro p {
    height: 100%;
    color: black;
    font-size: 17px;
    margin-bottom: 0px;
}
