.todos-contatos h1 {
    margin-top: 20px;
    text-align: center;
    color: white;
    text-decoration: underline;
}

.secao-contatos {
    margin-top: 50px;
}

.contato {
    display: flex;
    margin: auto;
    border-radius: 10px;
    height: 110px;
    border: solid 3px black;
    align-items: center; 
    justify-content: space-between;
    margin-top: 5px;
    background-color: white;
}

.info-esquerda {
    display: flex;
    flex-direction: line;
}

.info-direita {
    display: flex;
    flex-direction: line;
    margin-right: 20px;
    width: 600px;
    justify-content: space-between;
}

#img-contato {
    display: flex;
}

#img-contato img{
    padding: 9px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

#info-usuario-contato {
    display: flex;
    flex-direction: column;
    padding: 20px 10px 10px 20px;
}

.barra-titulo {
    display: flex;
}

#barra-separadora {
    display: flex;
}

#info-contato-recebido {
    display: flex;
    flex-direction: column;
    padding: 20px 10px 10px 0px;
    margin-right: 30px;
}

#oferta-requisitada #info-contato-recebido{
    margin-right: 35px;
}

#icones-contato {
    margin: 10px 0px;
    padding: 7px 7px 5px 10px;
    border: solid 2px black;
    border-radius: 20px;
}   

#imagem-contato-status {
    height: 50px;
    margin-right: 10px;
}

#icone-visualizar-contato {
    width: 60px;
    height: 60px;
    border-radius: 7px;
    background-color: black;
    border: solid 2px grey;
    padding: 7px;
    cursor: pointer;
}

