.perfil {
    text-align: center;
    justify-content: center;
}

.div-button {
    display: flex;
    padding: 10px;
    margin: auto;
}

.perfil button {
    border-radius: 10px;
    padding: 10px;
    background-color: #002e61;
    box-shadow: -1px 1px 4px 4px black;
    color: #FFF;
    font-weight: bold;
    width: 150px;
    border: none;
}

body {
    background-color: #005288;
    font-family: "Manrope", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

h1 {
    color: #FFF;
}

.botao-voltar {
    display: flex;
    align-items: start;
    background-color: black;
    width: 40px;
    border-radius: 5px;
    transition: all 0.3s ease;
}

.botao-voltar:hover{
    transform: scale(1.2);
}

.botao-voltar img {
    width: 40px;
}

/* foto perfil */
.img-foto-perfil {
    background-color: #146482;
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 0;
    position: relative; 
    overflow: hidden; 
    width: 100%;
    height: 211px;
}

.img-foto-perfil button {
    width: 200px;
}

#image-placeholder {
    position: absolute; 
    top: 0; 
    left: 0; 
    z-index: 1; 
    width: 100%; 
    text-align: center;
    padding-top: 30px;
    margin-bottom: 0;
}

#current-image {
    width: 100%;
    height: 100%; 
    object-fit: cover;
}

/* fim */

.section-form {
    background-color: #FFF;
    border-radius: 10px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    background-color: #002e61;
}

.cadastro-container {
    padding: 20px 20px 10px 20px;
    background-color: #002e61;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
    height: 60%;
    border-radius: 20px;
    font-size: larger;
    color: #FFF;
    box-shadow: -1px 1px 4px 4px black;
    flex-wrap: wrap;
}

.cadastro-container .caixa-input{
    position: relative;
    width:100%;
    height: 50px;
    margin-bottom: 5px;
    z-index: 3;
}

/* AUTOCOMPLETE */
.autoComplete_wrapper {
    width: 100%;
    background-color: #212121;
}

.caixa-input .autoComplete_wrapper ul {
    position: absolute;
    max-height: 120px;
    overflow-y: scroll;
    top: 100%;
    left: 0;
    right: 0;
    padding: 0;
    margin: .5rem 0 0 0;
    border-radius: 4px;
    background-color: #4d6d7f;
    z-index: 1000;
    outline: 0;
    border: none;
}

.autoComplete_wrapper #autoCompleteCidade,
#autoCompleteBairro, #autoCompleteEstado
{
    height: 50px;
    width: 100%;
    color: #FFF;
    font-size: 20px
}

.caixa-input #autoComplete_list li {
    border: solid 1px #212121;
    background-color: #47565a;
    color: #FFF;
}

.caixa-input li {
    list-style-type: none;
}


/* INPUTS PERSONALIZADOS */
.cadastro-container input, select {
    color: #FFF;
    font-size: 17px;
    width: 100%;
    height: 50px;
    padding: 20px 10px 10px 5px;
    background-color: #146482;
    border: none;
    border-radius: 5px;
    outline: none;
}

.cadastro-container label {
    color: #fff;
    position: absolute;
    left: 0;
    width: 100%;
    height: 50px;
    pointer-events: none;
    border-bottom: 1px solid #ffffff;
    font-size: 14px;
    font-weight: bold;
}
  
.cadastro-container span {
    position: absolute;
    left: 5px;
    font-size: 14px;
    transition: all 0.3s ease;
    border-radius: 10px;
}
  
.cadastro-container label::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 100%;
    border-bottom: 1px solid #FFF;
    transition: all 0.3s ease;
}
  
.cadastro-container input:read-only + label span, input:valid + label span{
    height: 40px;
    font-size: 14px;
    bottom: 10px;
    color: #FFF;
}

.cadastro-container input:focus + label span, input:invalid + label span{
    height: 40px;
    font-size: 14px;
    bottom: 10px;
    color: #FFF;
}

.cadastro-container input:focus + label::after {
    border-bottom: 3px solid #FFF;
}

/* remover */
.readonly input:read-only + label span, input:valid + label span {
    height: 40px;
    font-size: 14px;
    color: #FFF;
}

.readonly input:focus + label span, input:invalid + label span {
    height: 40px;
    font-size: 14px;
    color: #FFF;;
}

.readonly input:focus + label::after {
    border-bottom: 0px solid #FFF;
}

.cadastro-container select:read-only + label span, select:valid + label span {
    height: 40px;
    font-size: 14px;
    bottom: 10px;
    color: #FFF;
}

.cadastro-container select:focus + label span, select:invalid + label span {
    height: 40px;
    font-size: 14px;
    bottom: 10px;
    color: #FFF;;
}

.cadastro-container select:focus + label::after {
    border-bottom: 3px solid #FFF;
}


.fade-out {
    opacity: 0;
    transition: opacity 0.5s ease-out;
    box-shadow: black 10px;
}

.msg-erro {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 1000px;
    min-height: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    background: linear-gradient(90deg, rgba(201,39,12,1) 0%, rgba(255,199,0,1) 100%);
    border-radius: 10px;
    padding: 3px;
    z-index: 9999; /* Para garantir que a mensagem fique acima de outros elementos */
    margin-top: 10px; /* Define a distância entre cada mensagem de erro */
}


.msg-erro p {
    height: 100%;
    color: black;
    font-size: 17px;
    margin-bottom: 0px;
}


input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

input[type=number] {
  -moz-appearance: textfield; /* Firefox */
}

/* CSS PARA AS FOTOS DE PERFIL */
.foto-perfil {
    width: 100%;
    height: 100%;
    object-fit: cover; /* faz com que a imagem se ajuste à div mantendo sua proporção e cortando o excesso */
    border-radius: none;
}

.foto-padrao {
    margin-top: 20px;
    width: 100px;
}

#container {
    position: relative;
    height: 210px;
    overflow: hidden;
    /* margin: 0px 20px 20px 0px; */
    background-color: #FFF;
    border-radius: 5px;
}

#container p {
    color: black;
}