.perfil {
    text-align: center;
    justify-content: center;
}

.perfil img {
    border-radius: 50px;
}

.perfil div-button {
    display: flex;
    padding: 10px;
    margin: auto;
    justify-content: center;
}

.perfil button {
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 20px;
    background-color: #191970;
    border: none;
    color: #FFF;
    font-weight: bold;
    margin-top: 10px;
    width: 150px;
}

#container {
    margin: auto;
    position: relative;
    width: 170px;
    height: 170px;
    overflow: hidden;
}

#imagem {
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
}

#arquivo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
}

.perfil input {
    border: solid 2px black;
}

/*ESTILIZAÇÃO DE CADA INPUT DO CADASTRO*/
.perfil input[name="nome"] {
    display: inline-flex;
    margin-top: 5px;
    width: 60%;
    border-radius: 10px;
    padding: 5px;
}

.perfil input[name="nascimento"] {
    display: inline-flex;
    margin-top: 5px;
    width: 39%;
    border-radius: 10px;
    padding: 5px;
}

.perfil input[name="sobrenome"] {
    display: inline-flex;
    margin-top: 5px;
    width: 99.3%;
    border-radius: 10px;
    padding: 5px;
}

.perfil input[name="email"] {
    display: inline-flex;
    margin-top: 5px;
    width: 50%;
    border-radius: 10px;
    padding: 5px;
}

.perfil input[name="email_secundario"] {
    display: inline-flex;
    margin-top: 5px;
    width: 49%;
    border-radius: 10px;
    padding: 5px;
}

.perfil input[name="password"] {
    display: inline-flex;
    margin-top: 5px;
    width: 49%;
    border-radius: 10px;
    padding: 5px;
}

.perfil input[name="telefone"] {
    display: inline-flex;
    margin-top: 5px;
    width: 50%;
    border-radius: 10px;
    padding: 5px;
}

.perfil input[name="cidade"] {
    display: inline-flex;
    margin-top: 5px;
    width: 33%;
    border-radius: 10px;
    padding: 5px;
}

.perfil input[name="rua"] {
    display: inline-flex;
    margin-top: 5px;
    width: 33%;
    border-radius: 10px;
    padding: 5px;
}

.perfil input[name="numero"] {
    display: inline-flex;
    margin-top: 5px;
    width: 33%;
    border-radius: 10px;
    padding: 5px;
}

.perfil input[name="complemento"] {
    display: inline-flex;
    margin-top: 5px;
    width: 33%;
    border-radius: 10px;
    padding: 5px;
}

.perfil input[name="estado"] {
    display: inline-flex;
    margin-top: 5px;
    width: 24%;
    border-radius: 10px;
    padding: 5px;
}

.perfil input[name="bairro"] {
    display: inline-flex;
    margin-top: 5px;
    width: 30%;
    border-radius: 10px;
    padding: 5px;
}

/* .perfil input::placeholder {
    color: black;
} */

/* ESTILIZACAO AUTOCOMPLETE */
.autoComplete_wrapper #autoCompleteBairro {
    display: inline-flex;
    padding: 5px;
    color: black;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: lighter;
    cursor: pointer;
    overflow: hidden;
    background-color: #FFF;
    border-radius: 10px;
    margin-top: 5px;
    height: 37px;
    width: 405px;
    margin-bottom: 0px;
    border: solid 2px black

}

.autoComplete_wrapper #autoCompleteCidade {
    display: inline-flex;
    padding: 5px;
    color: black;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: lighter;
    cursor: pointer;
    overflow: hidden;
    background-color: #FFF;
    border-radius: 10px;
    margin-top: 5px;
    height: 37px;
    width: 406px;
    margin-bottom: 0px;
    border: solid 2px black
}

.autoComplete_wrapper #autoCompleteEstado {
    display: inline-flex;
    padding: 5px;
    color: black;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: lighter;
    cursor: pointer;
    overflow: hidden;
    background-color: #FFF;
    border-radius: 10px;
    margin-top: 5px;
    height: 37px;
    width: 406px;
    margin-bottom: 0px;
    border: solid 2px black
}

.autoComplete_wrapper #autoCompleteBairro::placeholder {
    color: black;
}

.autoComplete_wrapper #autoCompleteEstado::placeholder {
    color: black;
}

.autoComplete_wrapper #autoCompleteCidade::placeholder {
    color: black;
}

