.minhas-demandas h1 {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 30px;
}

.minhas-demandas button {
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 20px;
    background-color: #191970;
    border: none;
    color: #FFF;
    font-weight: bold;
}

#icones_demanda {
    width: 35px;
    height: 35px;
    border-radius: 7px;
    background-color: black;
    border: solid 2px grey;
    padding: 3px;
}

.table-personalizacao {
    text-align: center;
}

.table-personalizacao thead, tbody {
    border: solid 2px black;
}

.table th:nth-child(2) {
    width: 600px; /* Largura desejada da célula do título */
}

.table th:nth-child(5) {
    width: 50px; /* Largura desejada da célula do título */
}

.table th:nth-child(6) {
    width: 50px; /* Largura desejada da célula do título */
}

#icones_demanda {
    cursor: pointer;
}

/* MODAL */

.caixa-modal {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    border-radius: 20px;
}

.caixa-modal img {
    width: 40px;
}

.clicar-fora-modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 900;
}

#botao_fechar_model {
    position: absolute;
    top: 5px; /* Ajuste conforme necessário */
    right: 5px; /* Ajuste conforme necessário */
    cursor: pointer;
}