.minhas-demandas h1 {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 30px;
    color: #191970;
}

.minhas-demandas button {
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
    background-color: #376985;
    border: none;
    color: #FFF;
    font-weight: bold;
}

.minhas-demandas button:hover{
    background-color: #1f3b4b;
}

#icones_demanda {
    width: 35px;
    height: 35px;
    border-radius: 7px;
    background-color: black;
    border: solid 2px grey;
    padding: 3px;
}

.table-rounded {
    border-radius: 10px;
    overflow: hidden;
}

.table-personalizacao {
    margin-top: 10px;
    text-align: center;
}

.table-personalizacao thead, tbody {
    border-radius: 50px;
}

.table-personalizacao thead th{
    background-color: #376985;
    color: #fff;
    margin-top: 10px;
}

.table-personalizacao tbody td, th{
    border-bottom: solid 1px rgb(116, 116, 116);
    margin-bottom: 30px;
}

.table th:nth-child(2) {
    width: 600px; /* Largura desejada da célula do título */
}

.table th:nth-child(5) {
    width: 50px; /* Largura desejada da célula do título */
}

.table th:nth-child(6) {
    width: 50px; /* Largura desejada da célula do título */
}

#icones_demanda {
    cursor: pointer;
}