.minhas-demandas h1 {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 30px;
    color: #191970;
    text-decoration: underline;
}

.minhas-demandas button {
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 20px;
    background-color: #191970;
    border: none;
    color: #FFF;
    font-weight: bold;
}

#icones_demanda {
    width: 35px;
    height: 35px;
    border-radius: 7px;
    background-color: black;
    border: solid 2px grey;
    padding: 3px;
}

.table-personalizacao {
    text-align: center;
}

.table-personalizacao thead, tbody {
    border: solid 2px black;
}

.table th:nth-child(2) {
    width: 600px; /* Largura desejada da célula do título */
}

.table th:nth-child(5) {
    width: 50px; /* Largura desejada da célula do título */
}

.table th:nth-child(6) {
    width: 50px; /* Largura desejada da célula do título */
}

#icones_demanda {
    cursor: pointer;
}