/* Reset de Estilos */
body, html {
    height: 100%;
    background-color: #FFF;
    margin: 0;
    padding: 0;
    font-family: "Manrope", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%; /* Ajustado para um valor percentual */
    max-width: 600px; /* Limitando a largura máxima */
    padding: 20px;
    border: solid 5px black;
    border-radius: 10px;
    background-color: #2F4F4F;
    padding-bottom: 20px; /* Reduzido o espaço na parte inferior */
    height: 80%; /* Definindo a altura como 80% da altura da tela */
}

h1 {
    text-align: center;
    font-size: 1.5rem; /* Tamanho da fonte ajustado para relativo */
}

.content {
    width: 100%;
    text-align: justify;
    padding: 10px; /* Adicionado preenchimento */
}

.button {
    display: block;
    width: 100%;
    max-width: 200px; /* Limitando a largura máxima do botão */
    padding: 10px 20px;
    background-color: #224e7d;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    cursor: pointer;
}

@media (min-width: 768px) {
    /* Estilos para tablets */
    .container {
        width: 70%; /* Redimensionando para telas de tablets */
    }
}

@media (min-width: 992px) {
    /* Estilos para desktops */
    .container {
        width: 60%; /* Redimensionando para telas de desktops */
    }
}
