.secao-confirma-sem-disponibilidade {
    background-color: #3b3b7b;
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
    padding: 30px;
}

.texto-modal-confirma-sem-disponibilidade {
    width: 100%;
    text-align: center;
    margin-top: 20px;
    padding: 10px;
    border-radius: 10px;
    color: #fff;
    text-align: justify;
}

.texto-modal-confirma-sem-disponibilidade #font-vermelha {
    color: rgb(157, 72, 6);
    background-color: #FFF;
    border-radius: 5px;
    padding: 3px;
    font-weight: bold;
}

.botoes-modal-confirma-sem-disponibilidade {
    width: 100%;
    display: flex;
    justify-content: center; 
    padding: 10px;
    border-radius: 10px;
}

.botoes-modal-confirma-sem-disponibilidade button {
    width: 150px;
    height: 50px;
    margin: 5px 30px; 
    border-radius: 10px;
    padding: 10px;
    border: none;
    cursor: pointer;
    box-shadow: -1px 1px 4px 4px black;
    color: #FFF;
    font-weight: bold;
}

.botoes-modal-confirma-sem-disponibilidade button:nth-child(1) {
    background-color: rgb(27, 93, 27); 
}

.botoes-modal-confirma-sem-disponibilidade button:nth-child(2) {
    background-color: rgb(157, 72, 6); 
}

/* MODAL */

.modal-confirmar-sem-disponibilidade {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 590px;
    height: 390px;
    padding: 5px;
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    border-radius: 10px;
    box-shadow: -1px 1px 4px 4px black;
}

.clicar-fora-confirmar-sem-disponibilidade {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 900;
}

#botao-fechar-modal-sem-disponibilidade button{
    background-color: red;
}
