.modal-excluir h2 {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 5px;
}

.modal-excluir h4 {
    text-align: center;
    margin-bottom: 30px;
}

.div-botoes {
    display: flex;
    justify-content: center;
}

.div-botoes button {
    padding: 10px;
    border-radius: 10px;
    margin: 0 10px; /* Adiciona margem entre os botões */
    border: none;
    color: #FFF;
    font-weight: bold;
    width: 100px;
}

#botao-sim {
    background-color: #0b401e;
}

#botao-nao {
    background-color: #4f1111;
}

/* MODAL */

.caixa-modal {
    display: none;
    position: fixed;
    max-width: 900px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: #4d579c;
    border: 1px solid #ccc;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    border-radius: 20px;
    border: solid 10px #FFF;
    color: #FFF;
}

.caixa-modal img {
    width: 40px;
    background-color: #FFF;
    border-radius: 100px;
}

.clicar-fora-modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 900;
}

#botao_fechar_model {
    position: absolute;
    top: 5px; /* Ajuste conforme necessário */
    right: 5px; /* Ajuste conforme necessário */
    cursor: pointer;
}
