* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Manrope", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 15px;
}

header {
    background-color:#212529;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn-abrir {
    color: #FFF;
    font-size: 20px;
}

.btn-abrir:hover {
    color: #FFF;
    font-size: 20px;
}

nav {
    height: 100%;
    width: 0px;
    background-color: #212529;
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
    transition: width 0.2s;
}

nav a {
    color: #FFF;
    font-size: 20px;
    display: block;
    padding: 12px 10px 12px 15px;
}

header h1{
    color: #FFF;
    text-align: center;
    flex-grow: 1;
    font-size: 20px;
    margin-bottom: 0;
}

header a {
    color: #FFF;
    padding-right: 10px;
}

nav a:hover {
    color: #212529;
    background-color: #708090;
}

main {
    padding: 30px 30px;
    transition: margin-left 0.3s;
    margin: 0;
}

.barra-navegacao a {
    text-decoration: none;
}

.menu-navegacao a {
    text-decoration: none;
}

.menu-navegacao i {
    padding: 10px;
}

#icones-menu {
    width: 35px;
    height: 35px; 
}

#img-personalizada {
    width: 60px;
    height: 50px;
    border-radius: 100%;
}

